﻿
@model IEnumerable<ProductCatalog.Models.Product>
<p></p>
<div class="container-fluid">
    <p></p>
    <a class="btn btn-default" asp-action="ProductForm">Add new Product</a>
    <p></p>
    <div class="panel panel-default">
        <p></p>
        <div class="panel-heading">Products list</div>
        <div class="panel-body">
            <p></p>
            <div class="container">
                <form method="get" asp-action="Index">
                    <div class="form-group">
                        <label for="keyword" class="control-label">Search: </label>
                        <input type="text" name="keyword" id="keyword" />
                        <button class="btn btn-default btn-sm" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                    </div>
                </form>
            </div>
            <p></p>
            <table class="table table-bordered table-responsive table-striped">
                <tr>
                    <th>ID</th>
                    <th>DESIGNATION</th>
                    <th>PRICE</th>
                    <th>CATEGORY ID</th>
                </tr>
                @{
                    foreach (var prod in Model)
                    {
                        <tr>
                            <td id="prdId">@prod.ProductId</td>
                            <td>@prod.Designation</td>
                            <td>@prod.Price</td>
                            <td>@prod.Category.Name</td>
                            <td> <a class="btn btn-primary UpdateProductDialog" data-toggle="modal" data-target="#update_prod" data-prod-id="@prod.ProductId" data-desig="@prod.Designation" data-price="@prod.Price" data-categ="@prod.CategoryId" ><span class="glyphicon glyphicon-edit"></span></a></td>
                            <td> <a class="btn btn-danger DeleteProductDialog" data-toggle="modal" data-target="#delete_prod" data-id="@prod.ProductId"><span class="glyphicon glyphicon-trash"></span></a></td>
                        </tr>
                    }
                }
            </table>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <ul class="nav nav-pills">
                    @{
                        for (int i = 0; i < ViewBag.totalPages; i++)
                        {
                            string className = "";
                            if (i == ViewBag.CurrentPage)
                            {
                                className = "active";
                            }
                            <li class="@className">
                                <a asp-action="Index" asp-route-page="@i" asp-route-keyword="@ViewBag.keyword">@(i + 1)</a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="delete_prod">
        <div class="modal-dialog modal-dialog-centered" role="dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">×</button>
                    <h3 class="h3 text-center">Delete Action</h3>
                </div>
                <div class="modal-body" id="modal-body-delete-product">
                    <h3 class="h3 text-center">You are about to delete the product of id: </h3>
                    <h3 class="h3 text-center" id="DeletedProductId2"></h3>
                    <form method="post" asp-action="DeleteConfirmed">
                        <input type="hidden" name="DeletedProductId" id="DeletedProductId" />
                        <button class="btn btn-warning" type="submit">Delete</button>
                    </form>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="update_prod">
        <div class="modal-dialog modal-dialog-centered" role="dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">×</button>
                    <h3 class="h3 text-center">Update Action</h3>
                </div>
                <div class="modal-body" id="modal-body-update-product">
                    <h3 class="h3 text-center">You are about to update a product</h3>
                    <form method="post" asp-action="Update">
                        <input type="hidden" id="updatedProductId" name="Id" />
                        <div class="form-group">
                            <label class="control-label">Designation:</label>
                            <input type="text" class="form-control" name="Designation" id="updatedDesignation" required />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Price:</label>
                            <input type="text" class="form-control" name="Price" id="updatedPrice" required />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Category:</label>
                            <select data-val="true" data-val-required="Le champ CategoryId est requis." id="updatedCategoryId" name="CategoryId">
                                @{
                                    foreach (var Category in ViewBag.categories)
                                    {
                                        <option value="@Category.CategoryId">@Category.Name</option>
                                    }
                                }
                            </select>
                        </div>
                        <div>
                            <button class="btn btn-primary" type="submit">Save changes</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    
                </div>
            </div>
        </div>
    </div>
</div>