﻿
@model ProductCatalog.Models.Product
@{ 
    ViewData["title"] = "add new product";
}
<p></p>
<div class="panel panel-default">
    <p></p>
    <div class="panel-heading">new Product</div>
    <div class="panel-body">
        <form method="post" asp-action="Save">
            <div class="form-group">
                @Html.LabelFor(prod => prod.Designation, new { @class = "control-label" })
                @Html.TextBoxFor(prod => prod.Designation, new { @class = "form-control" })
                @Html.ValidationMessageFor(prod => prod.Designation, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(prod => prod.Price, new { @class = "control-label" })
                @Html.TextBoxFor(prod => prod.Price, new { @class = "form-control" })
                @Html.ValidationMessageFor(prod => prod.Price, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(prod => prod.Category, new { @class = "control-label" })
                @Html.DropDownListFor(prod => prod.CategoryId,
                         new SelectList(ViewBag.categories, "CategoryId", "Name"))
                @Html.ValidationMessageFor(prod => prod.CategoryId, "", new { @class = "text-danger" })
            </div>
            <div>
                <input class="btn btn-default" type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>