﻿
@model ProductCatalog.Models.Category
@{
    ViewData["title"] = "add new category";
}
<p></p>
<div class="panel panel-warning">
    <p></p>
    <div class="panel-heading">new Category</div>
    <div class="panel-body">
        <form method="post" asp-action="SaveCategory">
            <div class="form-group">
                @Html.LabelFor(c => c.Name, new { @class = "control-label" })
                @Html.TextBoxFor(c => c.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.Name, "", new { @class = "text-danger" })
            </div>
            <div>
                <input class="btn btn-warning" type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>