﻿
@model IEnumerable<ProductCatalog.Models.Category>
<p></p>
<div class="container-fluid">
    <p></p>
    <a class="btn btn-warning" asp-action="CategoryForm">New Category</a>
    <p></p>
    <div class="panel panel-warning">
        <p></p>
        <div class="panel-heading">Category list</div>
        <div class="panel-body">
            <table class="table table-bordered table-responsive table-striped">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                </tr>
                @{
                    foreach (var c in Model)
                    {
                        <tr>
                            <td id="prdId">@c.CategoryId</td>
                            <td>@c.Name</td>
                            <td> <a class="btn btn-primary UpdateCategoryDialog" data-toggle="modal" data-target="#update_categ" data-categ-id="@c.CategoryId" data-name="@c.Name"><span class="glyphicon glyphicon-edit"></span></a></td>
                            <td> <a class="btn btn-danger DeleteCategoryDialog" data-toggle="modal" data-target="#delete_categ" data-id="@c.CategoryId"><span class="glyphicon glyphicon-trash"></span></a></td>
                        </tr>
                    }
                }
            </table>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <ul class="nav nav-pills">
                    @{
                        for (int i = 0; i < ViewBag.totalPages; i++)
                        {
                            string className = "";
                            if (i == ViewBag.CurrentPage)
                            {
                                className = "active";
                            }
                            <li class="@className">
                                <a asp-action="Index" asp-route-page="@i">@(i + 1)</a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="delete_categ">
        <div class="modal-dialog modal-dialog-centered" role="dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">×</button>
                    <h3 class="h3 text-center">Delete Action</h3>
                </div>
                <div class="modal-body" id="modal-body-delete-category">
                    <h3 class="h3 text-center">You are about to delete a category of id :</h3>
                    <h3 class="h3 text-center" id="DeletedCategoryId2"></h3>
                    <form method="post" asp-action="DeleteCategory">
                        <input type="hidden" name="DeletedCategoryId" id="DeletedCategoryId" />
                        <button class="btn btn-warning" type="submit">Delete</button>
                    </form>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="update_categ">
        <div class="modal-dialog modal-dialog-centered" role="dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">×</button>
                    <h3 class="h3 text-center">Update Action</h3>
                </div>
                <div class="modal-body" id="modal-body-update-category">
                    <h3 class="h3 text-center">You are about to update a category</h3>
                    <form method="post" asp-action="UpdateCategory">
                        <input type="hidden" id="updatedCategoryId" name="Id" />
                        <div class="form-group">
                            <label class="control-label">Name:</label>
                            <input type="text" class="form-control" name="Name" id="updatedName" required />
                        </div>
                        <div>
                            <button class="btn btn-primary" type="submit">Save changes</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
</div>